@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Alike);

body {
  margin: 0;
  background-color: #a5797b;
  list-style-image: url(../images/star.png);
}

header {
  margin: 0 auto;
  width: 1000px;
  background-image: url(../images/flag.jpg);
}

header h1 {
  text-align: center;
  margin: 0;
  padding-top: .25em;
  color: #b9b4b5;
  font-family: Alike;
  font-size: 50px;
  font-weight: normal;
}

header h2 {
  text-align: center;
  margin: 0;
  padding-bottom: 1em;
  color: #b9b4b5;
  font-family: Lato;
  font-size: 25px;
  font-weight: lighter;
}

h3 {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #b9b4b5;
  font-family: Alike;
  font-size: 20px;
  font-weight: bold;
}

p {
  margin: 0;
  margin-bottom: 10px;
}

nav {
  margin: 0 auto;
  width: 1000px;
  padding: 5px 0;
  text-align: center;
  background-color: #b9b4b5;
  border-top: 2px solid #141237;
  border-bottom: 2px solid #141237;
}

nav a {
  margin: 0 35px;
  color: #bb010a;
}

.floatright {
  float: right;
  margin-left: 10px;
}

#maincolumn {
  margin: 0 auto;
  width: 1000px;
  padding: 5px 15px;
  background-color: #6f6f81;
  font-family: Lato;
  font-size: 15;
  font-weight: normal;
}
